# http://editorconfig.org/
#
# NB: charset=cp1251 is only supported with our fork of SublimeEditorconfig

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8

[*.{yaml,yml,md}]
# two trailing spaces become <br> in markdown. and markdown may be used inside of yaml
trim_trailing_whitespace = false

[./src/html/**/*.html]
insert_final_newline = false
