# Default
.gulp
.idea
.vscode

# Node
node_modules
node_modules L
node_modules W

# Dist & test
test
dist

# BD, logs
*.log
*.sql
*.sqlite

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.publish/

# Special
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?
.wwp-cache
