- const list = ['ГазпромНефть', 'MasterCard', 'Сибур', 'Нефтегарант', 'Ozon', 'Invitro', 'SkyEng', 'Skolkovo', 'Head Hunter', 'LVMH', 'Домодедово - Московский международный аэропорт', 'Слетать.ру']

+b('section').clients
    +e.container(class="container")
      +e.left
        +e('h3').title
          span.visually-hidden 10 лет
          | на рынке онлайн-обучения
        +e('ul').list
            each val, index in list
              +e('li').list-item
                span.visually-hidden= val
                svg(width="137" height="73")
                  use(xlink:href="#sprite-clients-" + (index + 1) )
      +e.right
        +e.slider(class="swiper-container")
          .swiper-wrapper
            +e.slider-slide(class="swiper-slide")
              +e('img').slider-img(src="assets/img/slider-item.png", alt="Отзыв клиента Х")
            +e.slider-slide(class="swiper-slide")
              +e('img').slider-img(src="assets/img/slider-item.png", alt="Отзыв клиента Х")
            +e.slider-slide(class="swiper-slide")
              +e('img').slider-img(src="assets/img/slider-item.png", alt="Отзыв клиента Х")
            +e.slider-slide(class="swiper-slide")
              +e('img').slider-img(src="assets/img/slider-item.png", alt="Отзыв клиента Х")
          +e.slider-pagination(class="swiper-pagination")
          +e('button').slider-button-prev(class="swiper-button-prev")
            span.visually-hidden Предыдущий слайд
            svg(width="30" height="30")
              use(xlink:href="#sprite-slider-arrow")
          +e('button').slider-button-next(class="swiper-button-next")
            span.visually-hidden Следующий слайд
            svg(width="30" height="30")
              use(xlink:href="#sprite-slider-arrow")
