+b('section').learn-online
    +e.container(class="container")
      +e('h3').title Онлайн-книга
        br
        |  «Как запустить
        br
        |  онлайн-обучение»
      +e('p').desc Мы подготовили и собрали в одном месте набор советов об эффективном запуске обучения для ваших сотрудников. Оставьте email, пришлем вам ее на почту.
      +e('form').form
        +e('input')(type="text" pattern=".+@.+\..+").input
        +e('button')(type="submit" class="btn btn--orange").btn Скачать
