+b('section').start-people
    +e.container(class="container")
      +e('h2').title Запускаем обучение сотрудников
      +e('p').desc Для этого у нас есть: конструктор курсов и тестов, вебинары, библиотека готовых курсов, гибкие отчёты, мобильное приложение, всевозможные полезные интеграции и заботливая техподдержка.
      +e.btn-group
        +b('a')(href="#").btn.--orange Попробовать демо
        +b('a')(href="#").btn.--white Узнать больше
