extends ../layout/main

block variables
  - var title = 'Главная - Techbase';
  - var description = 'Главная - Techbase';
  - var pageClass = 'index-page';

block content
  h1.visually-hidden Главная - Techbase
  include ../includes/modules/start-people
  //- section
  //-   .container
      //+item('item title', 'item descr')
      //+item('item title', 'item descr')
      //+item('item title', 'item descr hgu')
