// Font
$mainFont                : 'Montserrat', 'Helvetica', 'Arial', sans-serif;

// Size
$mainFontColor           : #292933;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.5;

$desktopXWidth            : 1440px;
$desktopXWidthD            : 1339px;
$desktopWidth            : 1280px;
$desktopWidthD            : 1279px;
$smDesktopWidth          : 980px;
$smDesktopWidthD          : 979px;
$tableWidth              : 768px;
$tableWidthD              : 767px;
$phoneWidth              : 480px;
$phoneWidthD              : 479px;
$smPhoneWidth            : 320px;

$black: #000;
$white: #fff;
$whiteDark: #f5f5f5;
$grayMenu: #292933;
$grayDesc: rgba(41, 41, 51, 0.8);
$grayBtn: #848484;
$grayDark: #292933;
$grayDark2: #242D34;
$graySliderDots: #D6D6D6;
$greenSliderDotsActive: #3CD679;
