.clients {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $smDesktopWidth) {
    padding-top: 75px;
    padding-bottom: 114px;
  }

  &__container {
    position: relative;

    @media screen and (min-width: $smDesktopWidth) {
      display: flex;
    }

    &::before {
      position: absolute;
      right: 0;
      top:-74px;
      background-image: url('../img/bg-clients.svg');
      background-repeat: no-repeat;
      background-position: 100% 50%;
      width: 613px;
      height: 618px;

      @media screen and (min-width: $desktopWidth) {
        content: '';
      }
    }
  }

  &__left,
  &__right {
    @media screen and (min-width: $smDesktopWidth) {
      width: 50%;
    }
  }

  &__right {
    @media screen and (min-width: $tableWidth) {
      padding-left: 16px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 31px;
    padding-top: 133px;
    position: relative;
    margin-bottom: 28px;
    z-index: 0;

    &::before {
      content: '';
      background-image: url('../img/10-year.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      height: 111px;
      max-width: 474px;
      width: 100%;
      z-index: 1;

      @media screen and (min-width: $desktopXWidth) {
        left: -22px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;

    @media screen and (min-width: $desktopWidth) {
      max-width: 549px;
    }

  }

  &__list-item {
    line-height: 0;
    transition: opacity .3s linear;
  }

  &__list-item:not(:hover) {
    opacity: .5;
    transition: opacity .3s linear;
  }


  &__slider-slide {
    @media screen and (min-width: $desktopWidth) {
      padding-bottom: 72px;
    }
  }

  &__slider-img {
    max-width: 100%;
    height: auto;

    @media screen and (min-width: 490px) {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    @media screen and (min-width: $desktopWidth) {
      margin-top: -72px;
    }
  }

  &__slider-pagination {
    & .swiper-pagination-bullet {
      opacity: 1;
      background-color: $graySliderDots;
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $greenSliderDotsActive;
    }
  }

  &__slider-button-prev,
  &__slider-button-next {
    border: none;
    background-color: $white;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    top: 38.5%;

    &::after {
      content: none;
    }
  }

  &__slider-button-prev {
    transform: rotate(180deg);
    left: 5px;
  }

  &__slider-button-next{
    right: 5px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 59px;
  left: 7px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 15px;
}
