.learn-online {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: $whiteDark;

  @media screen and (min-width: $smDesktopWidth) {
    background-color: transparent;
    background-image: url('../img/bg-learn-online.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 137px;
    padding-bottom: 383px;
    margin-bottom: -35px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 34%;
      background-image: url('../img/bg-shadow-book.png');
      background-repeat: no-repeat;
      width: 384px;
      height: 42px;
      transform: translateX(-130%);
    }
  }


  &__container {
    @media screen and (min-width: $desktopXWidth) {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  &__title,
  &__desc,
  &__form {
    @media screen and (min-width: $smDesktopWidth) {
      margin-left: 48.3%;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: $grayDark2;
    margin-bottom: 28px;

    @media screen and (max-width: $smDesktopWidthD) {
      & br {
        display: none;
      }
    }

    @media screen and (min-width: $smDesktopWidth) {
      font-size: 42px;
      line-height: 48px;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 41px;
  }

  &__form {
    @media screen and (min-width: $tableWidth) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 0px;
    line-height: 46px;
    transition: background .3s linear;

    @media screen and (max-width: $tableWidthD) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
    }

    @media screen and (min-width: $tableWidth) {
      margin-right: 20px;
      flex-grow: 1;
    }


    &:hover {
      background-color: #f9f9f9;
      transition: background .3s linear;
    }
  }

  &__btn {
    padding-left: 84px;
    padding-right: 84px;

    @media screen and (max-width: $tableWidthD) {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
