.start-people {
  padding: 0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &__container {
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: $smDesktopWidth) {
      background-image: url('../img/bg-start-people-table.svg');
      background-repeat: no-repeat;
      background-position: 100% 27.4%;
      background-size: 50%;
      padding-top: 127px;
      padding-bottom: 261px;
    }

    @media screen and (min-width: $desktopWidth) {
      background-position: 87% 27.4%;
      background-size: auto;
    }

    &::after {
      @media screen and (min-width: $desktopWidth) {
        content: '';
      }

      position: absolute;
      background-image: url('../img/bg-start-people-circle.svg');
      background-repeat: no-repeat;
      background-position: 100% 30%;
      right: 0;
      top: 7px;
      width: 810px;
      height: 720px;
      z-index: -1;
    }
  }

  &__title,
  &__desc,
  &__btn-group {
    width: 100%;

    @media screen and (min-width: $smDesktopWidth) {
      max-width: 472px;
    }
  }

  &__title {
    color: $grayDark;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 29px;

    @media screen and (max-width: $smDesktopWidthD) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  &__desc {
    color: $grayDesc;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 46px;
  }

  &__btn-group .btn {
    margin-right: 22px;
    padding-top: 18px;
    padding-bottom: 18px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 489px) {
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
